################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/B20 Ex03 Liran 311401657 Nir 205489651/v16/Server/sqlite3/db.lock
*.lock
